body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
    background-color: #3A7734;
}

h1 {
    color: #007bff;
}

/* CSS for form and labels */
form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

/* CSS for input fields and button */
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* CSS for the BMI result paragraph */
div p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #007bff;
}
