<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Gokul's BMI Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<h1>BMI Calculator</h1>
<body>
    <div>
        <form class="pure-form" method='post' action="/">
        <label>Enter Your Weight in Kgs</label>
        <br>
        <br>
        <input type="number" placeholder="height in Kgs" name="weight">
        <br>
        <br>
        <label>Enter Your Height in Cms</label>
        <input type="number" placeholder="height in Cms" name="height">
            <br>
            <br>
        <button type="submit" class="pure-button pure-button-active" value="submit">Submit</button>
        </form>
    </div>
<br>
<br>
<br>
    <div>
    {% if  bmi %}
        <p>Your BMI is {{ bmi }}</p>
    {% endif %}
    </div>
</body>
</html>