<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>FLask Application</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="icon" type="image/png" href="images/logo.png">-->
    <link rel="stylesheet" type="text/css" href="((uri_for('static', filename='css/style.css' ))">
</head>
<body id="top" class="ss-preload theme-static">
    <h1>Gokul's website Nice to meet you.</h1>
    <h1 class="text-huge-title"> This is MY First & Flask Application welcomes You. </h1>
</body>
</html>
