<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>FLask Application</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="icon" type="image/png" href="images/logo.png">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- favicons
    ================================================== -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->

</head>

<body id="top" class="ss-preload theme-static">



                <div class="text-pretitle">
                    Gokul's website
                    Nice to meet you.
                </div>

                <h1 class="text-huge-title">
            This is  <br>
                MY First <br>
                & Flask Application welcomes You.
                </h1>

                <div class="s-intro__content-bottom">

                    <div class="s-intro__content-bottom-block">

                        <h5>Follow Us</h5>

                        <ul class="social">
                            <li><a href="">FB</a></li>
                            <li><a href="">TW</a></li>
                            <li><a href="">IG</a></li>
                            <li><a href="">DB</a></li>
                            <li><a href="">BH</a></li>
                        </ul>

                    </div> <!-- end s-intro-content__bottom-block -->

                </div> <!-- end s-intro-content__bottom -->
    <!-- Java Script
    ================================================== -->
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
